.quantity {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.number_input {
  margin-top: 10px;
  display: inline-flex;
  gap: 4px;
}

.number_input button {
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.number_input .minus::before {
  content: "−";
  color: #333;
}

.number_input .plus::before {
  content: "+";
  color: #333;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
