.spinner {
  width: 3.125rem;
  height: 3.125rem;

  border: 0.25rem solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;

  animation: spin 1s linear infinite;
}

.loading_container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
